<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>%%firstname%%, Find Active Suppliers in latest SuperDeals!</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial;line-height:130%;}
a{color:#0066CC;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-bottom:6px;">
  <tr>
    <td><a href="%%track {http://www.alibaba.com/}%%" target="_blank"><img src="http://img.alibaba.com/images/eng/style/logo/logo_email.gif" width="175" height="32" alt="www.Alibaba.com" vspace="6" border="0"></a></td>
    <td valign="bottom" align="right"><div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a"><a href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Search Products</a> | <a href="%%track {http://tradeshow.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Trade Shows</a> | <a href="%%track {http://resources.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Community</a> | <a href="%%track {http://us.my.alibaba.com}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a></div></td>
  </tr>
</table>
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td style="width:600px; height:11px; bgcolor:#ACD1EB"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/top_corner.gif " width="600" height="11"></td>
	</tr>
	<tr>
	<td><table width="600" height="28" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1"  bgcolor="#ACD1EB"></td>
	<td width="10" valign="top"></td>
	<td width="434" valign="top" style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#ff7300;"><a href="%%track {http://www.alibaba.com/superdeals/wholesale-stock-promotions.html}%%" target="_blank" style="color:#ff7300;text-decoration:none;">Wholesale Products</a> | <a href="%%track {http://www.alibaba.com/superdeals/seasonal-promotions.html}%%" target="_blank" style="color:#ff7300;text-decoration:none;">Seasonal Products</a> | <a href="%%track {http://www.alibaba.com/superdeals/competitive-price-promotions.html}%%" target="_blank" style="color:#ff7300;text-decoration:none;">Competitive Deals</a></td>
	<td width="144" align="center" valign="top" ><a href="%%track {http://www.alibaba.com/superdeals/promotion-list.html}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/super_deals_home/super_deals_logo.gif" width="121" height="26" border="0"></a></td>
	<td width="10" valign="top"></td>
	<td width="1" bgcolor="#ACD1EB"></td>
	</tr>
	</table>


      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="1" height="63" bgcolor="#ACD1EB"></td>
          <td width="9"></td>
          <td width="349"><span style="font-family:Arial, Helvetica, sans-serif; font-size:34px;color:#00A5FA;line-height:34px;">Check out what's new on SuperDeals!</span><br>
            <br>SuperDeals is the perfect place to source for great deals online. Find all the products you need together with sourcing information such as FOB Pricing and MOQ provided. 
            <span style="font-family:Ariaetica, sans-serif; font-size:12px;color:#666666;line-height:14px;"> <br><br>
                  <img src="http://img.alibaba.com/images/eng/style/icon/icon_arrow.gif" width="4" height="7" border="0" align="absMiddle"> <a href="%%track {http://www.alibaba.com/superdeals/promotion-list.html}%%" target="_blank">Check out more SuperDeals here</a><br>
            <br>
          </span></td>
          <td width="229" align="center" valign="middle"><a href="%%track {#}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/category/Catherine/197x110_081204_shoes.jpg" width="197" height="110" alt="Sports Shoes"  border="0"></a><br>
          <span style="font-family:Tahoma, sans-serif;color:#E00003;font-weight:bold;">US$10-US$4,800</span></td>
          <td width="10"></td>
          <td width="1" bgcolor="#ACD1EB"></td>
        </tr>
      </table>
      <table width="600" cellspacing="0" border="0" cellpadding="0">
<tr >
<td width="1" bgcolor="#ACD1EB"></td>
<td width="10"></td>
<td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#ACD1EB">
  <tr>
    <td height="20" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="92%" bgcolor="#E7F3FE"><div style="margin-left:10px;font-family:Tahoma, sans-serif; font-weight:bold; font-size:13px;height:22px;"><a href="%%track {http://www.alibaba.com/superdeals/promotion-list.html}%%" target="_blank" style="text-decoration:none;">Featured SuperDeals</a></div></td>
        <td width="8%" bgcolor="#E7F3FE"><img src="http://img.alibaba.com/images/eng/style/icon/icon_arrow.gif" width="4" height="7" align="absMiddle"> <a href=%%track {http://www.alibaba.com/superdeals/promotion-list.html}%% target="_blank" style="text-decoration:none;font-family:Verdana; font-size:11px;">More</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="10" cellpadding="0">
        <tr>
          <td width="25%" height="30" align="left" valign="middle" style="padding-left:5px;font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;line-height:13px;"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank" style="text-decoration:none;">MP3 Players</a></td>
          <td width="25%" height="30" align="left" valign="middle" style="padding-left:5px;font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;line-height:13px;"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank" style="text-decoration:none;">Digital Cameras</a></td>
          <td height="30" align="left" valign="middle" style="padding-left:5px;font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;line-height:13px;"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank" style="text-decoration:none;">MP3 Players</a></td>
          <td height="30" align="left" valign="middle" style="padding-left:5px;font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;line-height:13px;"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank" style="text-decoration:none;">Digital Cameras</a></td>
        </tr>
        <tr>
          <td width="25%" height="80" align="center"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/a1.gif" alt="New &amp; Novel Mouses" width="80" height="80" border="0"></a></td>
          <td width="25%" height="80" align="center"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/a2.gif" alt="New &amp; Novel Mouses" width="80" height="80" border="0"></a></td>
          <td height="80" align="center"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/a3.gif" alt="New &amp; Novel Mouses" width="80" height="80" border="0"></a></td>
          <td height="80" align="center"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402&perPage=12&isGallery=N&page=1&npp=70805----------------------}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/a4.gif" alt="New &amp; Novel Mouses" width="80" height="80" border="0"></a></td>
        </tr>
        <tr>
          <td width="25%" style="padding-left:5px;line-height:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;font-weight: bold;"><span style="color: #E00003;">US$0.2-US$24</span><br>
            MOQ: From XXX<br>
            Delivery Time: 1 Day</td>
          <td width="25%" style="padding-left:5px;line-height:15px;font-family:Tahoma, sans-serif; font-size:11px; color:#333333;"><span style="font-size:13px;margin-right:5px;">&#8226;</span><a href="%%track {#}%%" target="_blank" style="color:#333333;">Digital MP3 Player</a><br>
              <span style="font-size:13px;margin-right:5px;">&#8226;</span><a href="%%track {#}%%" target="_blank" style="color:#333333;">Digital MP3 Player</a><br>
              <span style="font-size:13px;margin-right:5px;">&#8226;</span><a href="%%track {#}%%" target="_blank" style="color:#333333;">Digital MP3 Player</a></td>
          <td style="padding-left:5px;line-height:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;font-weight: bold;"><span style="color: #E00003;">US$0.2-US$24</span><br>
            From 100 pcs<br>
            Delivery Time: 1 Day </td>
          <td width="25%" style="padding-left:5px;line-height:15px;font-family:Tahoma, sans-serif; font-size:11px; color:#333333;"><span style="font-size:13px;margin-right:5px;">&#8226;</span><a href="%%track {#}%%" target="_blank" style="color:#333333;">Digital MP3 Player</a><br>
              <span style="font-size:13px;margin-right:5px;">&#8226;</span><a href="%%track {#}%%" target="_blank" style="color:#333333;">Digital MP3 Player</a><br>
              <span style="font-size:13px;margin-right:5px;">&#8226;</span><a href="%%track {#}%%" target="_blank" style="color:#333333;">Digital MP3 Player</a></td>
        </tr>
        <tr>
          <td style="padding-left:5px;line-height:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;font-weight: bold;">&nbsp;</td>
          <td style="padding-left:5px;line-height:15px;font-family:Tahoma, sans-serif; font-size:11px; color:#333333;">&nbsp;</td>
          <td style="padding-left:5px;line-height:15px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;font-weight: bold;">&nbsp;</td>
          <td style="padding-left:5px;line-height:15px;font-family:Tahoma, sans-serif; font-size:11px; color:#333333;"><a href="%%track {#}%%" target="_blank">Want your products here?</a></td>
        </tr>
      </table></td>
  </tr>
</table><br>
  <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#ACD1EB">
    <tr>
      <td height="20" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="92%" bgcolor="#E7F3FE"><div style="margin-left:10px;font-family:Tahoma, sans-serif; font-weight:bold; font-size:13px;height:22px;"><a href="%%track {http://www.alibaba.com/superdeals/promotion-list.html}%%" target="_blank" style="text-decoration:none;">More SuperDeals 1</a></div></td>
            <td width="8%" bgcolor="#E7F3FE"><img src="http://img.alibaba.com/images/eng/style/icon/icon_arrow.gif" width="4" height="7" align="absMiddle"> <a href=%%track {http://www.alibaba.com/superdeals/promotion-list.html}%% target="_blank" style="text-decoration:none;font-family:Verdana; font-size:11px;">More</a></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td width="33%" align="center"><A href="%%track {http://www.alibaba.com/superdeals/Tattoo_Supplies?promoId=200000480}%%" target="_blank"><IMG src="http://img.alibaba.com/images/cms/upload/category/jessica/tattoo_197x110_081105.jpg " alt="Tattoo Supplies" width="175" height="97" style="border:1px solid #cccccc;"></A></td>
              <td width="33%" align="center"><A href="%%track {http://www.alibaba.com/superdeals/Spa_Supplies?promoId=200000441}%%" target="_blank"><IMG src="http://img.alibaba.com/images/cms/upload/category/jessica/spa_197x110_081105.jpg" alt="Spa Supplies" width="175" height="97" style="border:1px solid #cccccc;"></A></td>
              <td width="33%" align="center"><A href="%%track {http://www.alibaba.com/superdeals/Vehicles?promoId=200000484}%%" target="_blank"><IMG src="http://img.alibaba.com/images/cms/upload/category/Tracy/vehicles_197x110_081105.jpg" alt="Vehicles" width="175" height="97" style="border:1px solid #cccccc;"></A></td>
            </tr>
            <tr>
              <td align="center">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="right" style="padding-left:5px;line-height:15px;font-family:Tahoma, sans-serif; font-size:11px; color:#333333;"><a href="%%track {#}%%" target="_blank">Want your products here?</a></td>
            </tr>
        </table></td>
    </tr>
  </table>
  <br></td>
<td width="10"></td>
<td width="1" bgcolor="#ACD1EB"></td>
</tr>
</table>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1" height="63" bgcolor="#ACD1EB"></td>
    <td width="10"></td>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#ACD1EB">
      <tr>
        <td align="center" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" bgcolor="#E7F3FE" style="font-family:Tahoma, sans-serif; font-weight:bold; font-size:13px;height:25px;"><div style="margin-left:10px;font-family:Tahoma, sans-serif; font-weight:bold; font-size:13px;height:22px;"><a href="%%track {http://www.alibaba.com/superdeals/promotion-list.html}%%" target="_blank" style="text-decoration:none;">Other Great Products on Alibaba.com</a></div></td>
              </tr>
          </table>
            <table width="95%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Agriculture</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Apparel</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Automobile & Motorcycles</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {http://www.alibaba.com/superdeals/Tattoo_Supplies?promoId=200000480}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Business Service</A></td>
              </tr>
              <tr>
                 <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Agriculture</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Apparel</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Automobile & Motorcycles</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {http://www.alibaba.com/superdeals/Tattoo_Supplies?promoId=200000480}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Business Service</A></td>
              </tr>
              <tr>
                 <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Agriculture</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Apparel</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {#}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Automobile & Motorcycles</A></td>
                <td width="25%" align="left"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/arrow.gif " width="5" height="7"> <A href="%%track {http://www.alibaba.com/superdeals/Tattoo_Supplies?promoId=200000480}%%" target="_blank" style="font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:11px;text-decoration:none;">Business Service</A></td>
              </tr>
              <tr>
                <td height="5" colspan="4" align="left"></td>
                </tr>
          </table></td>
      </tr>
    </table><br>
      <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#ACD1EB">
        <tr>
          <td align="center" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" bgcolor="#E7F3FE" style="font-family:Tahoma, sans-serif; font-weight:bold; font-size:13px;height:25px;"><div style="margin-left:10px;font-family:Tahoma, sans-serif; font-weight:bold; font-size:13px;height:22px;"><a href="%%track {http://www.alibaba.com/superdeals/_New_Novel_Computer_Accessories?promoId=200000402}%%" target="_blank" style="text-decoration:none;">More SuperDeals 2</a></div></td>
            </tr>
          </table>
          <table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="22%" height="25" align="left"><A href="%%track {#}%%" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;">Nokia K299</A></td>
              <td width="78%" height="25" align="left" style="font-size:11px;font-family:Tahoma;"><span style="padding-right:10px;">Original Price:<span style="text-decoration: line-through;color:#666666;font-weight:bold;">US$30 </span></span><span style="padding-right:10px;">Promotion Price:<span style="color:#E00003;font-weight:bold;">US$24 </span></span><span style="padding-right:10px;">until 24 Dec 2009</span></td>
              </tr>
            <tr>
              <td height="25" align="left"><A href="%%track {#}%%" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;">Nokia K299</A></td>
              <td height="25" align="left" style="font-size:11px;font-family:Tahoma;"><span style="padding-right:10px;">Original Price:<span style="text-decoration: line-through;color:#666666;font-weight:bold;">US$30 </span></span><span style="padding-right:10px;">Promotion Price:<span style="color:#E00003;font-weight:bold;">US$24 </span></span><span style="padding-right:10px;">until 24 Dec 2009</span></td>
            </tr>
            <tr>
              <td height="25" align="left"><A href="%%track {#}%%" target="_blank" style="font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none;">Nokia K299</A></td>
              <td height="25" align="left" style="font-size:11px;font-family:Tahoma;"><span style="padding-right:10px;">Original Price:<span style="text-decoration: line-through;color:#666666;font-weight:bold;">US$30 </span></span><span style="padding-right:10px;">Promotion Price:<span style="color:#E00003;font-weight:bold;">US$24 </span></span><span style="padding-right:10px;">until 24 Dec 2009</span></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    <td width="10"></td>
    <td width="1" bgcolor="#ACD1EB"></td>
  </tr>
</table>
<table width="600" cellspacing="0" border="0" cellpadding="0">
<tr>
<td width="1" bgcolor="#ACD1EB"></td>
<td width="10"></td>
<td>
	<div style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">
	<br>Think SuperDeals could be better? <a href="mailto:superdeals@service.alibaba.com?subject=Feedback on Latest SuperDeals" class="more" target="_blank">Click here</a> to send us your suggestions. <br><br>
	Wishing you the very best of business,<br><br>
Alibaba.com SuperDeals Team<br>
<a href="mailto:superdeals@service.alibaba.com;">superdeals@service.alibaba.com</a><br><br>
</div>

</td>
<td width="10"></td>
<td width="1" bgcolor="#ACD1EB"></td>
</tr>
</table>	
	
	</td>
	</tr>
	<tr>
	<td width="600" height="11"><img src="http://img.alibaba.com/images/cms/upload/edm/superdeals/skin/bottom_corner.gif" width="600" height="11"></td>
	</tr>
</table>



<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
  <tr>
    <td height="6"></td>
  </tr>
  <tr>
    <td align="center"><div style="padding:3px; font-size:10px;font-family:Verdana;color:#7a7a7a">SITE ACCESS: <a href="%%track {http://us.my.alibaba.com}%%" target="_blank" style="text-decoration:none;">My Alibaba</a> | <a href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank" style="text-decoration:none;">For Buyers</a> | <a href="%%track {http://importer.alibaba.com/}%%" target="_blank" style="text-decoration:none;">For Sellers</a> | <a href="%%track {http://us.my.alibaba.com/alert/nmsubscribe.biz}%%" target="_blank" style="text-decoration:none;">Trade Alert</a> | <a href="%%track {http://trademanager.alibaba.com/}%%" target="_blank" style="text-decoration:none;">TradeManager</a> <br>
            <a href="%%track {http://country.alibaba.com/profiles/index.htm}%%" target="_blank" style="text-decoration:none;">Country Profiles</a> | <a href="%%track {http://resources.alibaba.com/forum/trade_related.htm}%%" target="_blank" style="text-decoration:none;">Trade Forums</a> | <a href="%%track {http://www.alibaba.com/trade/help/helpcenter}%%" target="_blank" style="text-decoration:none;">Help</a> | <a href="%%track {http://resources.alibaba.com/trade_essential/101/safe_trading_tips.htm}%%" target="_blank" style="text-decoration:none;">Safe Trading Tips</a> | <a href="%%track {http://www.alibaba.com/trade/servlet/page/static/help/contact_us_answer}%%" target="_blank" style="text-decoration:none;">Customer Service</a><br>
            <hr style="color:#d3d4d5" size="1">
            <a href="%%track {http://us.my.alibaba.com/user/company/forget_password_input_email.htm}%%" target="_blank" style="text-decoration:none;">Forgot password?</a><br>
      <br>
      This email was sent to <strong>%%merge MEMBERS_.EMAILADDR_%%</strong> with Member ID <strong>%%merge MEMBERS_.LOGIN_ID%%</strong>.<br>
      You are receiving this email because you are a registered member of the Alibaba.com website.<br>
      To unsubscribe from future site announcement emails, <a href="http://www.alibaba.com/lyris/displaySubscribe.vhtml?memberId=%%merge MEMBERS_.MEMBERID_%%" target="_blank" style="text-decoration:none;">click here.</a><br>
      <hr style="color:#d3d4d5" size="1">
      Read our <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy}%%" target="_blank" style="text-decoration:none;">Privacy Policy</a> and <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use}%%" target="_blank" style="text-decoration:none;">Terms of Use</a>.<br>
      Alibaba.com Hong Kong Limited,<br>
      24/F Jubilee Centre, 18 Fenwick Street, Wanchai, Hong Kong<br>
      <br>
    </div></td>
  </tr>
</table>
</body>
</html>