<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Gold Supplier</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:160%;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td><a href="http://exporter.alibaba.com/static/hkindex.html" target="_blank"><img src="http://img.china.alibaba.com/club/upload/user/0/0/4/f/004f816a0f381bb069fe5d2defa4de60.gif" width="362" height="34" alt="www.Alibaba.com" vspace="6" border="0"></a></td>
		<td valign="bottom" align="right">
			<div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a"><a href="https://login.alibaba.com/" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a> | <a href="http://club.china.alibaba.com/forum/threadList/509_.html" target="_blank" style="text-decoration:none; color:#7a7a7a">Gold Supplier論壇</a> | <a href="http://www.alibaba.com/help/index.htm" target="_blank" style="text-decoration:none; color:#7a7a7a">幫助</a></div>
		</td>
	</tr>
	<tr>
		<td height="6"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td bgcolor="#FFEAC2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/top_corner.gif" width="600" height="11"></td>
	</tr>
	<tr>
		<td valign="top" bgcolor="#ffeac2" width="600" height="41" style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px; word-break:break-all;">
		<div align="center" style="padding:6px 0px; font-size:26px; font-family:Arial, Helvetica, sans-serif;line-height:26px; color:#ff7300;"><strong>網開財富之門</strong></div>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px; padding:12px; font-size:13px; font-family:Arial, Helvetica, sans-serif;">
		<strong>尊敬的供應商會員:</strong><br><br>
		&nbsp; &nbsp; &nbsp;&nbsp;您好！感謝選擇阿里巴巴作為您開拓海外市場的合作夥伴，從<strong>2008年11月07日至2009年11月06日</strong>，阿里巴巴客戶中心將協助您向海外買家展示您的企業和產品，同時提供關於供應商服務問題的諮詢及解答。<br><br>
		<a href="" target="_blank">並附上兩張上課卷流水號(GS08110785、GS08110786)歡迎報名My Alibaba 教育訓練課程</a><br><br>
		客戶中心聯繫方式如下：<br>
		服務熱線：02-6602-9888 分機 242 傳真：02-6600-8818<br>
		服務信箱：<a href="mailto:carenliu@tw.alibaba-inc.com" target="_blank">carenliu@tw.alibaba-inc.com</a><br>
		服務時間：週一至週五  9：00—18：00，歡迎您與我們聯繫！<br><br>
		
		<div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666666; background-color:#f1f1f1; padding:9px;">
			<strong>如何使用阿里巴巴國際站：</strong><br><br>
            阿里巴巴管理工具：<br>
			1、<strong style="font-size:15px;">My Alibaba</strong>（供應商客戶管理系統），<a href="" target="_blank">登錄</a>後，您可以做以下操作：<br>
			1）無限量發佈產品資訊和供應資訊。<br>
			2）管理公司資訊，添加公司LOGO、企業圖片、各種英文證書、管理層及部門介紹、公司參展資訊等。<br>
			3）線上查看和管理詢盤、客戶、訂單。<br>
			4）線上查詢買家求購資訊，主動聯繫買家。<br>
			想瞭解更多詳情請查看<a href="" target="_blank">説明</a>文檔。<br>
			貼心提醒：為了保護您公司和阿里巴巴共同的利益，維護網上貿易的誠信，請您在發佈公司相關資訊時，確保 資訊的真實性。如：公司介紹、員工人數、公司成立年份、廠房面積、經營品牌、年出口額、管理體系認證、品質控制、信用等級、月產量等。<br><br>
			2、TradeManager（英文版貿易通，與買家即時聯繫的工具）：<br>
			1）<a href="" target="_blank">下載</a><br>
			2）查看<a href="" target="_blank">説明</a>文檔</a>
		</div>
		</td>
	</tr>
	<tr>
		<td bgcolor="#FFEAC2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/bottom_corner.gif" width="600" height="11"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td height="12"></td>
	</tr>
	<tr>
		<td align="center">
			<div style="padding:3px; font-size:13px;font-family:Verdana;color:#7a7a7a;line-height:160%;">
			阿里巴巴Gold Supplier服務部 服務熱線: 852 - 2215 5128<br>
			如果您不希望收到此類信件請點擊這裡<a href="http://www.alibaba.com/lyris/displaySubscribeCn.vhtml?memberId=%%merge%20MEMBERS_.MEMBERID_%%" target="_blank">退訂</a><br>
			阿里巴巴版權所有 1999-2008 <a href="http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy" target="_blank">隱私條款</a> <a href="http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use" target="_blank">用戶協議</a><br>
			</div>
		</td>
	</tr>
</table>
</body>
</html>
