<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>new_template1</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:130%;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" style="margin-bottom:6px;" cellspacing="0" border="0" align="center" cellpadding="0">
	<tr>
		<td><a href="%%track {http://www.alibaba.com/}%%" target="_blank"><img width="175" src="http://img.alibaba.com/images/eng/style/logo/logo_email.gif" alt="www.Alibaba.com" height="32" border="0" vspace="6"></a></td>
		<td valign="bottom" align="right">
			<div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a">
				<a href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Search Products</a> | 
				<a href="%%track {http://tradeshow.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Trade Shows</a> | 
				<a href="%%track {http://resources.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Community</a> | 
				<a href="%%track {http://us.my.alibaba.com}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a>
			</div>
		</td>
	</tr>
	<tr>
		<td height="6"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td bgcolor="#ffeac2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/top_corner.gif" width="600" height="11"></td>
	</tr>
	<tr>
		<td bgcolor="#ffeac2" width="600" style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px;">
			<div align="center" style="font-size:22px; color:#ff7300; font-family:Arial, Helvetica, sans-serif; line-height:22px; padding:6px 0px;">
				Welcome to Alibaba.com!
			</div>
		</td>
	</tr>	
	<tr>
		<td width="600" style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px;">
			<div style="font-size:13px; font-family:Arial, Helvetica, sans-serif; padding:12px;">
				<strong>Dear %%fullname%%,</strong><br><br>
				Body content<br><br>
			</div>
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffeac2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/bottom_corner.gif" width="600" height="11"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" align="center" cellpadding="0">
	<tr>
		<td height="12"></td>
	</tr>
	<tr>
		<td align="center">
			<div style="padding:3px; font-size:10px;font-family:Verdana;color:#7a7a7a">SITE ACCESS:
				<a style="text-decoration:none;" href="%%track {http://us.my.alibaba.com}%%" target="_blank">Join Free</a> | 
				<a style="text-decoration:none;" href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank">For Buyers</a> | 
				<a style="text-decoration:none;" href="%%track {http://importer.alibaba.com/}%%" target="_blank">For Sellers</a> | 
				<a style="text-decoration:none;" href="%%track {http://us.my.alibaba.com/alert/nmsubscribe.biz}%%" target="_blank">Trade Alert</a> | 
				<a style="text-decoration:none;" href="%%track {http://trademanager.alibaba.com/}%%" target="_blank">TradeManager</a><br>
				<a style="text-decoration:none;" href="%%track {http://country.alibaba.com/profiles/index.htm}%%" target="_blank">Country Profiles</a> | 
				<a style="text-decoration:none;" href="%%track {http://resources.alibaba.com/forum/trade_related.htm}%%" target="_blank">Trade Forums</a> | 
				<a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/help/helpcenter}%%" target="_blank">Help</a> | 
				<a style="text-decoration:none;" href="%%track {http://resources.alibaba.com/trade_essential/101/safe_trading_tips.htm}%%" target="_blank">Safe Trading Tips</a> | 
				<a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/static/help/contact_us_answer}%%" target="_blank">Customer Service</a><br>
				<hr style="color:#d3d4d5" size="1">
				<a style="text-decoration:none;" href="%%track {http://us.my.alibaba.com/user/company/forget_password_input_email.htm}%%" target="_blank">Forgot password?</a><br><br>
				This email was sent to <strong>%%merge MEMBERS_.EMAILADDR_%%</strong> with Member ID <strong>%%merge MEMBERS_.LOGIN_ID%%</strong>.<br>
				You are receiving this email because you are a registered member of <a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/static/legal_trustpass}%%" target="_blank">TrustPass Service</a>.<br>
				To unsubscribe from future Trustpass Service emails, <a style="text-decoration:none;" href="http://www.alibaba.com/lyris/displaySubscribe.vhtml?memberId=%%merge MEMBERS_.MEMBERID_%%" target="_blank">click here.</a><br>
				<hr style="color:#d3d4d5" size="1">
				Read our <a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy}%%" target="_blank">Privacy Policy</a> and <a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use}%%" target="_blank">Terms of Use</a>.<br>
				Alibaba.com Hong Kong Limited,<br>
				24/F Jubilee Centre, 18 Fenwick Street, Wanchai, Hong Kong
			</div>
		</td>
	</tr>
</table>
</body>
</html>