<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>Title</title>
<style type="text/css">
<!--
body, td, p, th {
	font-size:13px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	line-height:130%;
}
-->
</style>
</head>
<body bgcolor="#ffffff">
<!--head start-->
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" >
	<tr>
		<td width="180px" style="padding-left:4px;"><a href="http://www.alibaba.com/" target="_blank"><img src="http://img.alibaba.com/images/eng/style/logo/logo_email.gif" width="175" height="32" alt="www.Alibaba.com" vspace="6" border="0" /></a></td>
		<td width="120px" valign="bottom" style="padding-left:2px;padding-bottom:5px;"><span style="font-family:Arial;font-size:15px;color:#545454;font-weight:bold;">TRADE ALERT</span></td>
		<td width="300px" valign="bottom" align="right" style="padding-right:4px;padding-bottom:5px;">
			<div style="font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#7a7a7a;">Wednesday, Oct 24, 2007</div>
		</td>
	</tr>
</table>
<!--head end-->
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-bottom:6px;">
	<tr>
		<td bgcolor="#eaf4f8" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/tradealert_top_corner.gif" width="600" height="11"></td>
	</tr>
	<tr>
		<td align="center" valign="top" bgcolor="#eaf4f8" height="46" style="border-left:solid #ccd6d8 1px; border-right:solid #ccd6d8 1px; font-size:22px;"><a href="" target="_blank">Confirm your Trade Alert request now!</a></td>
	</tr>
	<tr>
		<td style="border-left:solid #ccd6d8 1px; border-right:solid #ccd6d8 1px; padding:12px;">
			Thank you for subscribing to Trade Alert.<br><br>
			To begin receiving Trade Alert email <strong>[Product Keyword]</strong> at <strong>[email address]</strong>, please click the following link:<br>
			<a href="" target="_blank">http://www.alibaba.com/xxx/sdsddssmashingmagazine.com/2008/03/26/grid-based-design-six-creative column-techniques/smashingmagazine.com</a><br><br>
			Wishing you the very best of business,<br>
			Alibaba.com Service Team<br><br>
			<p style="border-top:dashed #999999 1px;"></p>
			<strong>Not yet a member?</strong><br>
			<span style="font-size:11px; font-family:Verdana, Helvetica, sans-serif;">
			<a href="" target="_blank">Join Alibaba.com FREE today</a> for business solutions that really work:<br>
			- Display up to 50 products in your Online Showroom <strong style="color:#ff7600;">FREE</strong>!<br>
			- Post unlimited Buying Leads <strong style="color:#ff7600;">FREE</strong>!<br>
			- Source the latest products from verified suppliers <strong style="color:#ff7600;">FREE</strong>!<br>
			<a href="" target="_blank">Join now!</a>
			</span>
		</td>
	</tr>
	<tr>
	<td bgcolor="#eaf4f8" width="600" height="11"><img src="http://img.alibaba.com/images/cms/upload/edm/trade_alert/trade0822_03.gif" width="600" height="16"></td>
	</tr>
</table>
<!--footer start-->
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-top:12px;">
	<tr>
		<td align="center">
			<div style="padding:3px; font-size:10px;font-family:Verdana;color:#7a7a7a">SITE ACCESS: <a href="http://us.my.alibaba.com/user/join/join_step1.htm" target="_blank" style="text-decoration:none;">Join Free</a> | <a href="http://www.alibaba.com/catalogs/0/product.html" target="_blank" style="text-decoration:none;">For Buyers</a> | <a href="http://importer.alibaba.com/" target="_blank" style="text-decoration:none;">For Sellers</a> | <a href="http://us.my.alibaba.com/alert/nmsubscribe.biz" target="_blank" style="text-decoration:none;">Trade Alert</a> | <a href="http://trademanager.alibaba.com/" target="_blank" style="text-decoration:none;">TradeManager</a> <br>
				<a href="http://country.alibaba.com/profiles/index.htm" target="_blank" style="text-decoration:none;">Country Profiles</a> | <a href="http://resources.alibaba.com/forum/trade_related.htm" target="_blank" style="text-decoration:none;">Trade Forums</a> | <a href="http://www.alibaba.com/trade/help/helpcenter" target="_blank" style="text-decoration:none;">Help</a> | <a href="http://resources.alibaba.com/trade_essential/101/safe_trading_tips.htm" target="_blank" style="text-decoration:none;">Safe Trading Tips</a> | <a href="http://www.alibaba.com/trade/servlet/page/static/help/contact_us_answer" target="_blank" style="text-decoration:none;">Customer Service</a><br>
				<hr style="color:#d3d4d5" size="1">
				Read our <a href="http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy" target="_blank" style="text-decoration:none;">Privacy Policy</a> and <a href="http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use" target="_blank" style="text-decoration:none;">Terms of Use</a>.<br>
				Alibaba.com Hong Kong Limited,<br>
				2403-05 Jubilee Centre, 18 Fenwick Street, Wanchai, Hong Kong<br><br>
			</div>
		</td>
	</tr>
</table>
<!--footer end-->
</body>
</html>
