<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=gb2312" http-equiv="Content-Type">
<title>Gold Supplier</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:160%;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td><a href="http://exporter.alibaba.com/static/hkindex.html" target="_blank"><img src="http://img.china.alibaba.com/club/upload/user/0/0/4/f/004f816a0f381bb069fe5d2defa4de60.gif" width="362" height="34" alt="www.Alibaba.com" vspace="6" border="0"></a></td>
		<td valign="bottom" align="right">
			<div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a"><a href="https://login.alibaba.com/" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a> | <a href="http://club.china.alibaba.com/forum/threadList/509_.html" target="_blank" style="text-decoration:none; color:#7a7a7a">Gold Supplier论坛</a> | <a href="http://www.alibaba.com/help/index.htm" target="_blank" style="text-decoration:none; color:#7a7a7a">帮助</a></div>
		</td>
	</tr>
	<tr>
		<td height="6"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td bgcolor="#FFEAC2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/top_corner.gif" width="600" height="11"></td>
	</tr>
	<tr>
		<td valign="top" bgcolor="#ffeac2" width="600" height="41" style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px; word-break:break-all;">
		<div align="center" style="padding:6px 0px; font-size:26px; font-family:Arial, Helvetica, sans-serif;line-height:26px; color:#ff7300;"><strong>网开財富之门</strong></div>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px; padding:12px; font-size:13px; font-family:Arial, Helvetica, sans-serif;">
		<strong>尊敬的供应商会員:</strong><br><br>
		&nbsp; &nbsp; &nbsp;&nbsp;您好！感谢选择阿里巴巴作为您开拓海外市場的合作伙伴，从<strong>2008年11月07日至2009年11月06日</strong>，阿里巴巴客戶中心将协助您向海外买家展示您的企业和产品，同时提供关於供应商服务问題的咨询及解答。<br><br>
		<a href="" target="_blank">並附上两張上课卷流水号(GS08110785、GS08110786)欢迎报名My Alibaba 教育训练课程</a><br><br>
		客戶中心联系方式如下：<br>
		服务热线：02-6602-9888 分机 242 传真：02-6600-8818<br>
		服务信箱：<a href="mailto:carenliu@tw.alibaba-inc.com" target="_blank">carenliu@tw.alibaba-inc.com</a><br>
		服务时间：周一至周五  9：00—18：00，欢迎您与我们联系！<br><br>
		
		<div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666666; background-color:#f1f1f1; padding:9px;">
			<strong>如何使用阿里巴巴国际站：</strong><br><br>
            阿里巴巴管理工具：<br>
			1、<strong style="font-size:15px;">My Alibaba</strong>（供应商客戶管理系统），<a href="" target="_blank">登录</a>後，您可以做以下操作：<br>
			1）無限量发布产品资讯和供应资讯。<br>
			2）管理公司资讯，添加公司LOGO、企业图片、各种英文证书、管理层及部们介绍、公司参展资讯等。<br>
			3）线上查看和管理询盘、客戶、订单。<br>
			4）线上查询买家求购资讯，主动联系买家。<br>
			想瞭解更多详情请查看<a href="" target="_blank">说明</a>文档。<br>
			贴心提醒：为了保护您公司和阿里巴巴共同的利益，维护网上貿易的诚信，请您在发布公司相关资讯时，確保 资讯的真实性。如：公司介绍、员工人数、公司成立年份、厂房面积、经营品牌、年出口額、管理体系认证、品质控制、信用等級、月产量等。<br><br>
			2、TradeManager（英文版貿易通，与买家即時联系的工具）：<br>
			1）<a href="" target="_blank">下载</a><br>
			2）查看<a href="" target="_blank">说明</a>文档</a>
		</div>
		</td>
	</tr>
	<tr>
		<td bgcolor="#FFEAC2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/bottom_corner.gif" width="600" height="11"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td height="12"></td>
	</tr>
	<tr>
		<td align="center">
			<div style="padding:3px; font-size:13px;font-family:Verdana;color:#7a7a7a;line-height:160%;">
			阿里巴巴Gold Supplier服务部 服务热线: 400-826--1688<br>
			如果您不希望收到此类信件请点击这里<a href="http://www.alibaba.com/lyris/displaySubscribeCn.vhtml?memberId=%%merge%20MEMBERS_.MEMBERID_%%" target="_blank">退订</a><br>
			阿里巴巴版权所有 1999-2008 <a href="http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy" target="_blank">隐私条款</a> <a href="http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use" target="_blank">用户协议</a><br>
			</div>
		</td>
	</tr>
</table>
</body>
</html>
