<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>TrustPass</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:130%;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-bottom:6px;">
	<tr>
		<td><a href="%%track {http://www.alibaba.com/trade/servlet/page/static/paid_memberships/tp_home}%%" target="_blank"><img src="http://www.alibaba.com/images/eng/style/logo/tp_logo_email.gif" width="300" height="32" alt="Alibaba TrustPass" vspace="6" border="0"></a></td>
		<td valign="bottom" align="right">
			<div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a">
				<a href="%%track {https://login.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a> | 
				<a href="%%track {http://us.my.alibaba.com/pm/register/step3_update.biz}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Upgrade to TrustPass</a> | 
				<a href="%%track {http://www.alibaba.com/trade/servlet/page/static/paid_memberships/tp_home}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">What's TrustPass?</a>
			</div>
		</td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" align="center" cellpadding="0">
	<tr>
		<td width="600" bgcolor="#d7e7f4" height="11"><img width="600" src="http://img.alibaba.com/images/cms/upload/edm/trustpass/tp_top_corner5.gif" height="11"></td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #95b8d1 1px; border-right:solid #95b8d1 1px;">
			<div style="font-size:22px; color:#206d9f; font-family:Arial, Helvetica, sans-serif;line-height:22px; padding:0 12px;">
				<strong>Welcome to Alibaba.com!<br><a href="" style="font-size:16px;">Join free now!</a></strong>
			</div>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #95b8d1 1px; border-right:solid #95b8d1 1px;">
			<div style="font-size:13px; font-family:Arial, Helvetica, sans-serif; padding:20px 12px 12px 12px;">
				<strong>Dear %%fullname%%,</strong><br><br>
				Body content<br><br>
			</div>
		</td>
	</tr>
	<tr>
		<td width="600" bgcolor="#d7e7f4" height="11"><img width="600" src="http://img.alibaba.com/images/eng/others/email/tp_bottom_corner2.gif" height="11"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" align="center" cellpadding="0">
	<tr>
		<td height="12"></td>
	</tr>
	<tr>
		<td align="center">
			<div style="padding:3px; font-size:10px;font-family:Verdana;color:#7a7a7a">SITE ACCESS:
				<a style="text-decoration:none;" href="%%track {http://us.my.alibaba.com}%%" target="_blank">Join Free</a> | 
				<a style="text-decoration:none;" href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank">For Buyers</a> | 
				<a style="text-decoration:none;" href="%%track {http://importer.alibaba.com/}%%" target="_blank">For Sellers</a> | 
				<a style="text-decoration:none;" href="%%track {http://us.my.alibaba.com/alert/nmsubscribe.biz}%%" target="_blank">Trade Alert</a> | 
				<a style="text-decoration:none;" href="%%track {http://trademanager.alibaba.com/}%%" target="_blank">TradeManager</a><br>
				<a style="text-decoration:none;" href="%%track {http://country.alibaba.com/profiles/index.htm}%%" target="_blank">Country Profiles</a> | 
				<a style="text-decoration:none;" href="%%track {http://resources.alibaba.com/forum/trade_related.htm}%%" target="_blank">Trade Forums</a> | 
				<a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/help/helpcenter}%%" target="_blank">Help</a> | 
				<a style="text-decoration:none;" href="%%track {http://resources.alibaba.com/trade_essential/101/safe_trading_tips.htm}%%" target="_blank">Safe Trading Tips</a> | 
				<a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/static/help/contact_us_answer}%%" target="_blank">Customer Service</a><br>
				<hr style="color:#d3d4d5" size="1">
				<a style="text-decoration:none;" href="%%track {http://us.my.alibaba.com/user/company/forget_password_input_email.htm}%%" target="_blank">Forgot password?</a><br><br>
				This email was sent to <strong>%%merge MEMBERS_.EMAILADDR_%%</strong> with Member ID <strong>%%merge MEMBERS_.LOGIN_ID%%</strong>.<br>
				You are receiving this email because you are a registered member of <a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/static/legal_trustpass}%%" target="_blank">TrustPass Service</a>.<br>
				To unsubscribe from future Trustpass Service emails, <a style="text-decoration:none;" href="http://www.alibaba.com/lyris/displaySubscribe.vhtml?memberId=%%merge MEMBERS_.MEMBERID_%%" target="_blank">click here.</a><br>
				<hr style="color:#d3d4d5" size="1">
				Read our <a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy}%%" target="_blank">Privacy Policy</a> and <a style="text-decoration:none;" href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use}%%" target="_blank">Terms of Use</a>.<br>
				Alibaba.com Hong Kong Limited,<br>
				24/F Jubilee Centre, 18 Fenwick Street, Wanchai, Hong Kong
			</div>
		</td>
	</tr>
</table>
</body>
</html>