<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>200 Inquiries a Year GUARANTEED, or YOUR MONEY BACK!</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:130%;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-bottom:6px;">
	<tr>
		<td><a href="%%track {http://www.alibaba.com/trade/servlet/page/static/paid_memberships/tp_home}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/tp_logo_email.gif" width="313" height="32" alt="Alibaba TrustPass" vspace="6" border="0"></a></td>
		<td valign="bottom" align="right"><div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a"><a href="%%track {https://login.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a> | <a href="%%track {http://us.my.alibaba.com/pm/register/step3_update.biz}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Upgrade to TrustPass</a> | <a href="%%track {http://trustpass.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">What's TrustPass?</a></div></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td bgcolor="#d7e7f4" width="600" height="11"><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/tp_top_corner5.gif" width="600" height="11"></td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #95B8D1 1px; border-right:solid #95B8D1 1px; padding:0 12px;">
			<table width="100%" cellspacing="0" border="0" cellpadding="0">
				<tr>
					<td style="font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:150%; padding-right:12px;">
					<a href="http://www.alibaba.com/activities/itp_guaranteed_enquiries.html" style="font-size:20px; font-family:Arial, Helvetica, sans-serif; line-height:120%;">200 Inquiries a Year GUARANTEED, or YOUR MONEY BACK!</a><br><br>
					Want to guarantee you'll receive 200 inquiries in 2009? <br>You can! Just <a href="http://www.alibaba.com/activities/itp_guaranteed_enquiries.html" target="_blank">upgrade to TrustPass today</a>, display and maintain a minimum of 40 Products online throughout the one-year period and <strong>WE'LL GUARANTEE YOU OVER 200 INQUIRIES in ONE YEAR or YOU'LL GET 100% OF YOUR MONEY BACK*!</strong>
					</td>
					<td><a href="http://www.alibaba.com/activities/itp_guaranteed_enquiries.html" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/t081215.jpg" width="200" height="176" border="0"></a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #95B8D1 1px; border-right:solid #95B8D1 1px;">
			<table width="100%" border="0" cellspacing="12" cellpadding="6">
				<tr>
					<td bgcolor="#f2f2f2" width="50%" valign="top" style="font-size:13px; font-family:Arial, Helvetica, sans-serif; line-height:150%; border:solid #c6c8c8 1px;">
						<strong>Upgrade to TrustPass and you'll get:</strong><br>
						<span style="font-size:20px; color:#ff7300;">&#8226; </span> Unlimited Access to Buyers<br>
						<span style="font-size:20px; color:#ff7300;">&#8226; </span> Unlimited Products Online<br>
						<span style="font-size:20px; color:#ff7300;">&#8226; </span> Premium Company Website<br>
						<span style="font-size:20px; color:#ff7300;">&#8226; </span> Verified Company Status<br>
						<span style="font-size:20px; color:#ff7300;">&#8226; </span> 12x more inquiries than free members*
					</td>
					<td bgcolor="#f2f2f2" width="50%" style="font-size:13px; font-family:Arial, Helvetica, sans-serif; border:solid #c6c8c8 1px;">
						<strong>Maintain 40 Products on Alibaba.com and you'll get:</strong><br>
						<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> 200 Inquiries in One Year, Guaranteed!<br>
						<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> More Exposure to Buyers Worldwide<br>
						<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> 100% Refund if you Get Less than 200<br>&nbsp; &nbsp; &nbsp; Inquiries in One Year*
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="600" style="border-left:solid #95B8D1 1px; border-right:solid #95B8D1 1px; font-size:13px; font-family:Arial, Helvetica, sans-serif; padding:0 12px;">
			Promotion ends 31 January 2009. Make sure you don't miss out!<br><br>
			What to learn more? <a href="http://www.alibaba.com/activities/itp_guaranteed_enquiries.html" target="_blank">Click here!</a><br><br>
			For questions, please contact us at <a href="mailto:trustpass@member.alibaba.com" target="_blank">trustpass@member.alibaba.com</a><br><br>
			Wishing you the very best of business,<br>
			Global Sales Department <img src="http://img.alibaba.com/images/eng/style/icon/icon_trustpass.gif" width="80" height="16" align="absmiddle" vspace="6"><br>
			Alibaba.com<br>
			<a href="mailto:trustpass@member.alibaba.com" target="_blank">trustpass@member.alibaba.com</a><br>
			Tel: (86) 571-88157807<br><br>
			<em style="font-size:11px; font-family:Verdana;">
			* Refund does not include any withholding tax that you may have withheld and deducted from the <br>&nbsp; subscription fee<br>
			* Based on average inquiry numbers for TrustPass Members
			<em>
		</td>
	</tr>
	<tr>
		<td bgcolor="#d7e7f4" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/tp_bottom_corner2.gif" width="600" height="11"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-top:12px;">
	<tr>
		<td align="center">
		<div style="padding:3px; font-size:10px;font-family:Verdana;color:#7a7a7a">
			SITE ACCESS: <a href="%%track {https://login.alibaba.com}%%" target="_blank" style="text-decoration:none;">My Alibaba</a> | 
			<a href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank" style="text-decoration:none;">For Buyers</a> | 
			<a href="%%track {http://importer.alibaba.com/}%%" target="_blank" style="text-decoration:none;">For Sellers</a> | 
			<a href="%%track {http://us.my.alibaba.com/alert/nmsubscribe.biz}%%" target="_blank" style="text-decoration:none;">Trade Alert</a> | 
			<a href="%%track {http://trademanager.alibaba.com/}%%" target="_blank" style="text-decoration:none;">TradeManager</a> <br> 
			<a href="%%track {http://country.alibaba.com/profiles/index.htm}%%" target="_blank" style="text-decoration:none;">Country Profiles</a> | 
			<a href="%%track {http://resources.alibaba.com/forum/trade_related.htm}%%" target="_blank" style="text-decoration:none;">Trade Forums</a> | 
			<a href="%%track {http://www.alibaba.com/trade/help/helpcenter}%%" target="_blank" style="text-decoration:none;">Help</a> | 
			<a href="%%track {http://resources.alibaba.com/trade_essential/101/safe_trading_tips.htm}%%" target="_blank" style="text-decoration:none;">Safe Trading Tips</a> | 
			<a href="%%track {http://www.alibaba.com/trade/servlet/page/static/help/contact_us_answer}%%" target="_blank" style="text-decoration:none;">Customer Service</a><br> 
		<hr style="color:#d3d4d5" size="1">
		Forgot your password? <a href="%%track {http://my.alibaba.com/apps/retrieve?req_page=retrieve.step1}%%" target="_blank"><span style="text-decoration:none;">Retrieve it now</span></a>.<br><br>This email was sent to <strong>%%merge MEMBERS_.EMAILADDR_%%</strong> with Member ID <strong>%%merge MEMBERS_.LOGIN_ID%%</strong>.<br>
		You are receiving this email because you indicated your interest in receiving personalized advice <br>on the benefits of Alibaba's TrustPass membership.<br>
		To unsubscribe from future site announcement emails, <a href="http://www.alibaba.com/lyris/displaySubscribe.vhtml?memberId=%%merge MEMBERS_.MEMBERID_%%" target="_blank"><span style="text-decoration:none;">click here.</span></a><br>
		<hr style="color:#d3d4d5" size="1">
		Read our <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy}%%" target="_blank"><span style="text-decoration:none;">Privacy Policy</span></a> and <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use}%%" target="_blank"><span style="text-decoration:none;">Terms of Use</span></a>.<br>
		Alibaba.com Hong Kong Limited,<br>
		2403-05 Jubilee Centre, 18 Fenwick Street, Wanchai, Hong Kong<br><br>
		</div>
		</td>
	</tr>
</table>
</body>
</html>