<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>New Buying Leads Toady</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:130%;}
-->
</style>
</head>
<body bgcolor="#ffffff">

<center><strong style="font-size:22px; color:#666666;">Headline</strong></center>
<p style="border-bottom:#cccccc 1px dashed;"></p>

<strong style="font-size:26px; font-family:Arial, Helvetica, sans-serif; color:#ff7300; line-height:150%;">New Buying Leads Toady</strong><br><a href="" target="_blank" style="font-size:18px;">Respond to Buyers now!</a>
<br><br><br>

<span style="font-size:26px; font-family:Arial, Helvetica, sans-serif; line-height:120%; color:#206d9f;">Struggling to find business opportunities?<br><a href="http://us.my.alibaba.com/user/join/upgrade_to_trustpass.htm" target="_blank" style="font-size:18px;">Upgrade to TrustPass today!</a></span>




<p style="border-bottom:#cccccc 1px dashed;"></p><br>
<center><strong style="font-size:22px; color:#666666;">Row watch</strong></center>
<p style="border-bottom:#cccccc 1px dashed;"></p>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <a href="" target="_blank"><strong>Agriculture</strong></a><br>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <a href="" target="_blank"><strong>Apparel</strong></a><br>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <a href="" target="_blank"><strong>Chemicals</strong></a><br>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <a href="" target="_blank"><strong>Computer Hardware & Software</strong></a>
<br><br><br>

<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <strong style="color:#ff7600">Opening Speech</strong><br>
<div style="padding:0 0 8px 22px;">Mr. Brian Wong, Senior Director of International Business Development and Marketing at Alibaba.com</div>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <strong style="color:#ff7600">The Alibaba.com Experience</strong><br>
<div style="padding:0 0 8px 22px;">Get expert tips and advice from veteran Alibaba.com users on how to successfully trade online</div>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <strong style="color:#ff7600">Q&A Session</strong><br>
<div style="padding:0 0 8px 22px;">Get expert opinions on how to solve your trading problems in the current economic climate</div>
<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" vspace="3" align="absmiddle"> <strong style="color:#ff7600">Networking Reception</strong><br>
<div style="padding:0 0 8px 22px;">Build your own network of contacts with the Alibaba.com team and other industry professionals</div>
<br><br>

<a href="" target="_blank">As a member on Alibaba.com</a>, you'll be able to:<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Promote your company and products online 24/7<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Reach buyers from over 200 countries and regions globally<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Post leads to let buyers know about your special offers<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Discuss your industry and trading with experts<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Utilize professional trade management tools<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Maximize your profits by finding more buyers online<br>
<img src="http://img.alibaba.com/images/cms/upload/hk_page/s080908_01.gif" width="27" height="23" align="absmiddle" vspace="3"> Do all this and more for <strong>free</strong>!!<br><br>
<br><br>

<strong style="font-size:18px;"><em style="color:#ff7300;">3</em> great reasons why TrustPass is <span style="color:#ff7300;">the smart choice</span>:</strong><br><br>
<em style="color:#ff7300;font-size:18px;">1.</em> <strong>Respond to new Buying Leads first</strong><br>
<div style="padding-left:18px;">Get the latest Buying Leads 7 days ahead of Free Members</div><br>
<em style="color:#ff7300;font-size:18px;">2.</em> <strong>Contact serious buyers</strong><br>
<div style="padding-left:18px;">Get access to all buyers, including those that only accept quotations from Verified members</div><br>
<em style="color:#ff7300;font-size:18px;">3.</em> <strong>Receive 12 times more inquiries than Free Members</strong><br>
<div style="padding-left:18px;">Get 12 times more inquiries and even more chances to increase your profits</div>
<br><br><br>

<p style="border-bottom:#cccccc 1px dashed;"></p><br>

<center><strong style="font-size:22px; color:#666666;">Step</strong></center>
<p style="border-bottom:#cccccc 1px dashed;"></p>
<strong><span style="color:#ff7300; font-size:18px; line-height:130%;">Step 1</span> Display 3 New Products</strong><br>
Display 3 or more new Products on Alibaba.com and receive significantly more inquiries than suppliers displaying less.<br>
<a href="%%track {http://us.my.alibaba.com/product/post_product.htm}%%" target="_blank">Display your Products here</a><br><br>
<strong><span style="color:#ff7300; font-size:18px; line-height:130%;">Step 2</span> Use TradeManager Once</strong><br>
TradeManager allows you to chat to current and potential buyers in real time, send files and Close deals faster than ever.
Sign in to TradeManager now or <br><a href="%%track {http://www.alibaba.com/trade/servlet/page/static/trade_manager/trademanager_forsuppliers}%%" target="_blank">Download it Free here</a><br><br>
<strong><span style="color:#ff7300; font-size:18px; line-height:130%;">Step 3</span> Upgrade to TrustPass</strong><br>
Give buyers a real reason to trust you with Verified Member Status and get 12 times more inquiries than Free Members.<br>
<a href="%%track {http://trustpass.alibaba.com/}%%" target="_blank">Learn more here</a>
<br><br><br>

<table width="160" cellspacing="0" border="0" cellpadding="0">
	<tr>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_05.gif" width="160" height="6"></td>
	</tr>
	<tr>
		<td bgcolor="#fef8ea" style="font-size:11px;font-family:Arial, Helvetica, sans-serif; border-left:solid #fccd9f 1px; border-right:solid #fccd9f 1px; padding:6px;"><strong style="font-size:16px;color:#d86303;"><em>Step 1</em></strong><br>Click "<a href="%%track {http://us.my.alibaba.com/product/post_product.htm}%%" target="_blank">Display New Products</a>"</td>
	</tr>
	<tr>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_06.gif" width="160" height="42"></td>
	</tr>
	<tr>
		<td bgcolor="#fef8ea" style="font-size:11px;font-family:Arial, Helvetica, sans-serif; border-left:solid #fccd9f 1px; border-right:solid #fccd9f 1px; padding:6px;"><strong style="font-size:16px;color:#d86303;"><em>Step 2</em></strong><br>Complete the simple form</td>
	</tr>
	<tr>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_06.gif" width="160" height="42"></td>
	</tr>
	<tr>
		<td bgcolor="#fef8ea" style="font-size:11px;font-family:Arial, Helvetica, sans-serif; border-left:solid #fccd9f 1px; border-right:solid #fccd9f 1px; padding:6px;"><strong style="font-size:16px;color:#d86303;"><em>Step 3</em></strong><br>Click "Submit"</td>
	</tr>
	<tr>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_07.gif" width="160" height="6"></td>
	</tr>
</table>
<br><br><br>

<table width="570" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_02.gif" width="6" height="60"></td>
		<td width="148" bgcolor="#fef8ea" style="font-size:12px;font-family:Arial, Helvetica, sans-serif; border-top:solid #fccd9f 1px; border-bottom:solid #fccd9f 1px;"><strong style="font-size:16px;color:#d86303;"><em>Step 1</em></strong><br>Click the "<a href="%%track {http://importer.alibaba.com/}%%" target="_blank">For Sellers</a>" channel on our homepage</td>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_03.gif" width="57" height="60"></td>
		<td width="148" bgcolor="#fef8ea" style="font-size:12px;font-family:Arial, Helvetica, sans-serif; border-top:solid #fccd9f 1px; border-bottom:solid #fccd9f 1px;"><strong style="font-size:16px;color:#d86303;"><em>Step 2</em></strong><br>Enter a product name in the search bar</td>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_03.gif" width="57" height="60"></td>
		<td width="148" bgcolor="#fef8ea" style="font-size:12px;font-family:Arial, Helvetica, sans-serif; border-top:solid #fccd9f 1px; border-bottom:solid #fccd9f 1px;"><strong style="font-size:16px;color:#d86303;"><em>Step 3</em></strong><br>Click "Contact now" and send your quotation</td>
		<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/080504_04.gif" width="6" height="60"></td>
	</tr>
	<tr>
</table>
<br><br><br>

<strong style="font-size:18px;font-family:Arial, Helvetica, sans-serif;line-height:120%;">More <span style="color:#ff7300;">promotion</span></strong> <img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/080422_03.gif" width="40" height="40" align="absmiddle"> <strong style="font-size:18px;font-family:Arial, Helvetica, sans-serif;line-height:120%;">More <span style="color:#ff7300;">inquiries</span></strong> <img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/080422_03.gif" width="40" height="40" align="absmiddle"> <strong style="font-size:18px;font-family:Arial, Helvetica, sans-serif;line-height:120%;">More <span style="color:#ff7300;">revenue</span></strong>
<br><br><br>

<p style="border-bottom:#cccccc 1px dashed;"></p><br>
<center><strong style="font-size:22px; color:#666666;">Button</strong></center>
<p style="border-bottom:#cccccc 1px dashed;"></p>
<img src="http://img.alibaba.com/images/eng/style/button/mini_inquire_now.gif" alt="Contact Now" width="104" height="18"><br><br>
<img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/view_more_on_alibaba_com_now_m.gif" alt="View more on Alibaba.com now!" width="230" height="26">


<p style="border-bottom:#cccccc 1px dashed;"></p><br>




<center><strong style="font-size:22px; color:#666666;">Text</strong></center>
<p style="border-bottom:#cccccc 1px dashed;"></p>

Wishing you the very best of business,<br><br>
Customer Service<br>
<a href="mailto:service@alibaba-inc.com" target="_blank">service@alibaba-inc.com</a><br>
Global Sales Department <img src="http://img.alibaba.com/images/eng/style/icon/icon_trustpass.gif" width="80" height="16" align="absmiddle" vspace="6"><br>
Alibaba.com

<p style="border-bottom:#cccccc 1px dashed;"></p><br>















<span align="left" style="padding:6px 0px; font-size:22px; font-family:Arial, Helvetica, sans-serif;line-height:22px; color:#0a2649;">Why Alibaba, Why TrustPass?</span><br>
<strong style="color:#ff7300;font-size:26px;font-family:Arial, Helvetica, sans-serif;line-height:160%;">Quality Buyers want your Quotations</strong><br>
<strong style="font-size:16px;"><span style="color:#ff7300;">Step 3:</span> Contact and manage communications</strong><br><br>
<strong style="color:#ff7300;font-size:18px;">Useful Trade Tips</strong>
<a href="%%track {http://importer.alibaba.com/new_importers}%%" target="_blank"><strong style="font-size:18px;">Check out the very latest Buying Leads in your category now!</strong></a><br><br>




<table width="360" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#DFE9FB">
  <tr>
    <td width="36" height="90" rowspan="3"><img src="http://img.alibaba.com/images/eng/others/email/tp_b_01.gif" width="36" height="90" /></td>
    <td width="288" height="10"><img src="http://img.alibaba.com/images/eng/others/email/tp_b_03.gif" width="288" height="10" /></td>
    <td width="36" height="90" rowspan="3"><img src="http://img.alibaba.com/images/eng/others/email/tp_b_02.gif" width="36" height="90" /></td>
  </tr>
  <tr>
    <td height="70" width="288" style="font-size:13px;font-family:Arial, Helvetica, sans-serif"><a href="%%track {http://www.alibaba.com/activity/trusspasslead_why.htm}%%" target="_blank"><strong>Unlimited Buyer Access</strong></a><br>Enjoy unlimited access to over two million buyers. No more restrictions!<br><br></td>
  </tr>
  <tr>
    <td width="288" height="10"><img src="http://img.alibaba.com/images/eng/others/email/tp_b_04.gif" width="288" height="10" /></td>
  </tr>
</table>



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Buying Leads give you:</strong><br>
				<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" width="17" height="17" vspace="3" align="absmiddle"> Thousands of relevant trade opportunities<br>
				<img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" width="17" height="17" vspace="3" align="absmiddle"> Fast access to the right buyers<br>
  <img src="http://img.alibaba.com/images/eng/others/email/w_icon12.gif" width="17" height="17" vspace="3" align="absmiddle"> More chances to make great deals</p>
<p>&nbsp;</p>
<p>  <span style="color:#ff7300;">A.</span> I don't know how to find buyers and send quotations<br>
  <span style="color:#ff7300;">B.</span> I can't find any matching Buying Leads<br>
  <span style="color:#ff7300;">C.</span> I am too busy to use this service<br>
  <span style="color:#ff7300;">D.</span> I've encountered some difficulty sending quotations<br>
  <span style="color:#ff7300;">E.</span> Others (Please specify your reason)<br>
  <br>
  
  
  <br>
  <img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_12.gif" width="24" height="21" align="absmiddle" vspace="2"> Increased Product Exposure<br>
  <img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_12.gif" width="24" height="21" align="absmiddle" vspace="2"> Increased Buyer Inquiries<br>
  <img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_12.gif" width="24" height="21" align="absmiddle" vspace="2"> Increased Profit Margins</p>
<p>  <strong style="font-size:16px;color:#ff7300;">Step 1 </strong><a href="%%track {http://us.my.alibaba.com/user/join/upgrade_to_trustpass.htm}%%" target="_blank">Sign into My Alibaba</a> and click "<strong>Post a New Product</strong>"<br>
												<br>
												<strong style="font-size:16px;color:#ff7300;">Step 2</strong> Upload a photo and enter product details<br>
												<br>
<strong style="font-size:16px;color:#ff7300;">Step 3</strong> Click "<strong>Submit</strong>" and repeat! </p>
<p>&nbsp;</p>
<p><br>
  <a href="%%track {http://importer.alibaba.com/new_importers}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/check_the_latest_buying_leads_now_m.gif" alt="Check the latest Buying Leads now!" width="250" height="26" border="0"></a><br>
                                              <a href="%%track {http://us.my.alibaba.com/product/post_product.htm}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/display_your_products_now_m.gif" alt="Display your Products now!" width="199" height="26" border="0"></a><br />
      <img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/improve_your_product_listings_now.gif" alt="Improve your Product Listings now!" width="383" height="39" border="0" vspace="12"><br />
                                              <a href="%%track {http://us.my.alibaba.com/product/ma_post_product.htm}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/display_your_products_now.gif" alt="Display your Products now!" width="296" height="39" border="0"></a><br>
                                              <a href="%%track {http://us.my.alibaba.com/product/ma_post_product.htm}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/upgrade_to_trustpass_today_m.gif" alt="Upgrade to Trustpass today!" width="204" height="26" border="0"></a></p>
<p>&nbsp;</p>
<p><br>
  <br>
      <strong>Dear %%fullname%%,</strong><br>
          <br>
  Thank you for registering with TrustPass, our premium service for sellers outside China. View your <a href="%%track {http://my.alibaba.com/trade/user/personal}%%" target="_blank">Member Profile</a> now!<br>
        <br>
</p>
</body>
</html>