<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Welcome to Alibaba.com!</title>
<style type="text/css">
<!--
body,td,p,th{font-size:13px;color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:130%;}
-->
</style>
</head>
<body bgcolor="#ffffff">
<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-bottom:6px;">
	<tr>
		<td><a href="%%track {http://www.alibaba.com/}%%" target="_blank"><img src="http://img.alibaba.com/images/eng/style/logo/logo_email.gif" width="175" height="32" alt="www.Alibaba.com" vspace="6" border="0"></a></td>
		<td valign="bottom" align="right">
			<div style="padding:0 0 5px 0;font-size:11px;font-family:Arial, Helvetica, sans-serif; color:#7a7a7a"><a href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Search Products</a> | <a href="%%track {http://tradeshow.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Trade Shows</a> | <a href="%%track {http://resources.alibaba.com/}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">Community</a> | <a href="%%track {http://us.my.alibaba.com}%%" target="_blank" style="text-decoration:none; color:#7a7a7a">My Alibaba</a></div>
		</td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center">
	<tr>
		<td bgcolor="#ffeac2" width="600" height="11"><img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_07.gif" width="600" height="11"></td>
	</tr>
	<tr>
		<td style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="font-size:13px; font-family:Arial, Helvetica, sans-serif; padding:0 0 12px 12px;">
						<strong style="font-size:22px;color:#ff7300;">A world of trade opportunities,</strong><br>
						<span style="font-size:14px;color:#ff7300;line-height:180%;">With free access to the industry's best trade services!</span><br><br>
						<strong>Dear %%fullname%%,</strong><br><br>
						Now that you've started trading on Alibaba.com,here are some valuable tips on <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/new_member/how_to_buy}%%" target="_blank">how to use the site</a> and make your online business a real sucess!
					</td>
					<td width="245"><img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_08.jpg" width="245" height="141"><br><br></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border-left:solid #ff7300 1px; border-right:solid #ff7300 1px;font-size:13px; font-family:Arial, Helvetica, sans-serif; padding:0 12px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" style="font-size:13px; font-family:Arial, Helvetica, sans-serif;padding-top:12px;">
						<strong style="font-size:16px;color:#7a2d00;line-height:200%;"><a href="%%track {http://www.alibaba.com/}%%" target="_blank">Alibaba.com</a> Services</strong>
						<table width="410" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="50" align="center" valign="top"><img src="http://img.alibaba.com/images/eng/others/email/w_icon07.gif" width="26" height="26"/></td>
								<td width="350" style="padding:6px 0;font-size:13px;font-family:Arial, Helvetica, sans-serif;"><strong style="font-size:16px;color:#ff7300;font-family:Arial, Helvetica, sans-serif;">Trade Shows</strong>
									<div style="padding:3px 0;">Search more than 18,000 trade shows across 34 industries worldwide! CeBIT, Tendence, MAGIC and many more! <a href="%%track {http://tradeshow.alibaba.com}%%" target="_blank">Find, register for and plan</a> your next trade show on <a href="%%track {http://www.alibaba.com}%%" target="_blank">Alibaba.com</a>.</div>
									<a href="%%track {http://tradeshow.alibaba.com}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/search_now_m.gif" alt="Search now!" width="107" height="26" border="0" vspace="3"></a>
								</td>
							</tr>
							<tr>
								<td width="50" align="center" valign="top"><img src="http://img.alibaba.com/images/eng/others/email/w_icon08.gif" width="26" height="26"/></td>
								<td width="350" style="padding:6px 0;font-size:13px;font-family:Arial, Helvetica, sans-serif;"><strong style="font-size:16px;color:#ff7300;font-family:Arial, Helvetica, sans-serif;">Trade Alert</strong>
									<div style="padding:3px 0;"><a href="%%track {http://us.my.alibaba.com/tradealert/myalibaba/sub_scription_trade_alert.htm}%%" target="_blank">Get personalized daily email</a> updates on products matching your key needs and requirements. Reduce your sourcing time!</div>
									<a href="%%track {http://us.my.alibaba.com/tradealert/myalibaba/sub_scription_trade_alert.htm}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/subscribe_now_m.gif" alt="Subscribe now!" width="126" height="26" border="0" vspace="3"></a>
								</td>
							</tr>
							<tr>
								<td width="50" align="center" valign="top"><img src="http://img.alibaba.com/images/eng/others/email/w_icon09.gif" width="26" height="26"/></td>
								<td width="350" style="padding:6px 0;font-size:13px;font-family:Arial, Helvetica, sans-serif;"><strong style="font-size:16px;color:#ff7300;font-family:Arial, Helvetica, sans-serif;">Community Forums & News</strong><br>
									<div style="padding:3px 0;">
									Find important trade information and invaluable discussions in our Community forums.
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="50%" valign="top" style="font-size:13px;font-family:Arial, Helvetica, sans-serif;">
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/forum/trade_related.htm}%%" target="_blank">Trade Forums</a></strong><br>
											<strong>&#8226; <a href="%%track {http://country.alibaba.com/profiles/index.htm}%%" target="_blank">Country Profiles</a></strong><br>
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/trade_essential/1/Finding_Trade_Partners.htm}%%" target="_blank">Trade Articles</a></strong>
											</td>
											<td width="50%" valign="top" style="font-size:13px;font-family:Arial, Helvetica, sans-serif;">
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/partner/xe_landing.htm}%%" target="_blank">Partner services</a></strong><br>
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/trade_essential/1/Finding_Trade_Partners.htm}%%" target="_blank">Sourcing News</a></strong>
											</td>
										</tr>
									</table>
									</div>
									<a href="%%track {http://resources.alibaba.com}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/take_me_there_now_m.gif" alt="Take me there now!" width="153" height="26" border="0" vspace="3"></a>
								</td>
							</tr>
							<tr>
								<td width="50" align="center" valign="top"><img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_11.gif" width="26" height="26"/></td>
								<td width="350" style="padding:6px 0;font-size:13px;font-family:Arial, Helvetica, sans-serif;"><strong style="font-size:16px;color:#ff7300;font-family:Arial, Helvetica, sans-serif;">Safe Trading Center</strong><br>
									<div style="padding:3px 0;">
									Find the latest information on safe trading,account protection and other online security issues right here.
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="50%" style="font-size:13px;font-family:Arial, Helvetica, sans-serif;">
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/trade_essential/101/safe_trading_basics.htm}%%" target="_blank">Safe Trading Basics</a></strong><br>
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/trade_essential/104290/account_protection.htm}%%" target="_blank">Account Protection</a></strong><br>
											</td>
											<td width="50%" style="font-size:13px;font-family:Arial, Helvetica, sans-serif;">
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/trade_essential/104289/fraud_case_study.htm}%%" target="_blank">Fraud Case Studies</a></strong><br>
											<strong>&#8226; <a href="%%track {http://resources.alibaba.com/trade_safe/home.htm}%%" target="_blank">Stop Spam/Scam Emails</a></strong>
											</td>
										</tr>
									</table>
									</div>
									<a href="%%track {http://resources.alibaba.com/trade_safe/home.htm}%%" target="_blank"><img src="http://img.alibaba.com/images/cms/upload/edm/edm_button/read_more_now_m.gif" alt="Read more now!" width="130" height="26" border="0" vspace="3"></a>
								</td>
							</tr>
							<tr>
							<td colspan="2"><strong style="font-size:16px;color:#7a2d00;line-height:200%;"><a href="%%track {http://trustpass.alibaba.com/}%%" target="_blank">Alibaba.com Premium Service</a></strong></td>
							</tr>
							<tr>
							<td colspan="2">
							<table width="395" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_07.gif" width="395" height="7"></td>
								</tr>
								<tr>
									<td bgcolor="#7cb6de" style="padding:0 9px;">
									<strong style="font-size:18px;color:#ffff00;line-height:180%;">TrustPass Membership</strong> <img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/icon_trustpass.gif" width="80" height="16" alt="TrustPass Logo" align="absmiddle" hspace="5" vspace="9"><br>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;">
											<img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_04.gif" width="14" height="12" align="absmiddle" hspace="6" vspace="3"> <strong style="color:#ffff00;">Unlimited</strong> Access to Buyers<br>
											<img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_04.gif" width="14" height="12" align="absmiddle" hspace="6" vspace="3"> <strong style="color:#ffff00;">Unlimited</strong> Products Online
											</td>
											<td style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;">
											<img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_04.gif" width="14" height="12" align="absmiddle" hspace="6" vspace="3"> <strong style="color:#ffff00;">Premium</strong> Company Website<br>
											<img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_04.gif" width="14" height="12" align="absmiddle" hspace="6" vspace="3"> <strong style="color:#ffff00;">Prime</strong> Product Listings
											</td>
										</tr>
									</table>
									</td>
								</tr>
								<tr>
									<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_08.gif" width="395" height="32"></td>
								</tr>
								<tr>
									<td bgcolor="#fdf6e4" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:0 8px;">
									<strong style="font-size:16px;color:#9c4a25;line-height:180%;">Extra Services</strong> <img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/icon_trustpass.gif" width="80" height="16" alt="TrustPass Logo" align="absmiddle" hspace="5" vspace="6"><br>
									<strong><a href="%%track {http://www.alibaba.com/activities/export_to_china/features.html}%%" target="_blank" style="color:#ff7300;">Export-to-China</a></strong><br>
									Take the hard work out of trading with China.<br>
									Promote your products online to over 20 million Chinese businesses.<br>
									<div style="padding-top:12px;"><strong><a href="%%track {http://www.alibaba.com/trade/servlet/page/static/paid_memberships/priority_ranking}%%" target="_blank" style="color:#ff7300;">Priority Ranking</a></strong></div>
									Guarantee your place on the first page of buyer searches and reach more buyers in your industry than ever before
									</td>
								</tr>
								<tr>
									<td><img src="http://img.alibaba.com/images/cms/upload/edm/trustpass/etc_09.gif" width="395" height="33"></td>
								</tr>
							</table>
							</td>
							</tr>
						</table>
					</td>
					<td width="163" valign="top">
					<table width="163" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td bgcolor="#f2f2f2" width="163" height="8"><img src="http://img.alibaba.com/images/cms/upload/edm/lifecycle_200804/0804_lifecycle_09.gif" width="163" height="110"></td>
							</tr>
							<tr>
								<td bgcolor="#f2f2f2" style="padding:0px 9px;font-size:13px; font-family:Arial, Helvetica, sans-serif;">
									<table width="139" border="0" cellpadding="3" cellspacing="0">
										<tr>
											<td height="20"><strong style="font-size:13px;font-family:Verdana;color:#000000;">Security Tips</strong></td>
										</tr>
										<tr>
											<td style="font-size:11px;color:#666666;font-family:Verdana;">
												Always confirm contact and background info<br>
												<a href="%%track {http://resources.alibaba.com/discussion_board/144/find_reliable_partners.htm}%%" target="_blank">Read now</a><br><br>
												Block suspicious members from contacting you<br>
												<a href="%%track {http://www.alibaba.com/trade/servlet/page/help/online_security/scam_emails}%%" target="_blank">Learn now</a><br><br>
												Choose easy to remember, but hard to guess passwords<br>
												<a href="%%track {http://www.alibaba.com/trade/servlet/page/help/online_security/fraudulent_websites_and_emails}%%" target="_blank">Learn more</a><br><br>
											</td>
										</tr>
										<tr>
											<td height="30" bgcolor="#ffffff" style="font-size:11px;color:#666666;font-family:Verdana;">
												<strong style="color:#000000;">Did you know?</strong><br>
												We have Safe Trading Forums providing info about the latest frauds and scams?<br>
												<a href="%%track {http://resources.alibaba.com/forum/safe_trading_related.htm}%%" target="_blank">Take a look now!</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td bgcolor="#f2f2f2" width="163" height="8"><img src="http://img.alibaba.com/images/eng/others/email/w_e06.gif" width="163" height="8" /></td>
							</tr>
						</table><br>
						
						<table width="163" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td bgcolor="#ffa63c" width="163" height="8"><img src="http://img.alibaba.com/images/eng/others/email/w_e07.gif" width="163" height="8" /></td>
							</tr>
							<tr>
								<td style="border-right:2px solid #ffa63c;border-left:2px solid #ffa63c; padding:6px 9px;font-size:13px; font-family:Arial, Helvetica, sans-serif;"> <strong style="font-size:13px; font-family:Arial, Helvetica, sans-serif;">Protect Your Account</strong><br>
									<div style="font-size:11px;color:#666666;font-family:Verdana;padding:8px 0;">
										&#8226; Never give out private &nbsp;&nbsp;&nbsp;or sensitive details<br>
										&nbsp;&nbsp;&nbsp;in an email<br>
										&#8226; Never click on links &nbsp;&nbsp;&nbsp;in suspicious emails<br>
									</div>
									<a href="%%track {http://www.alibaba.com/trade/servlet/page/help/online_security/fraudulent_websites_and_emails}%%" target="_blank">Learn more</a> </td>
							</tr>
							<tr>
								<td bgcolor="#ffa63c" width="163" height="8"><img src="http://img.alibaba.com/images/eng/others/email/w_e08.gif" width="163" height="8" /></td>
							</tr>
						</table><br>
						
						<table width="163" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td bgcolor="#f2f2f2" width="163" height="8"><img src="http://img.alibaba.com/images/eng/others/email/w_e05.gif" width="163" height="8" /></td>
							</tr>
							<tr>
								<td bgcolor="#f2f2f2" style="padding:6px 9px;font-size:13px; font-family:Arial, Helvetica, sans-serif;">
									<table width="135" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td align="center" valign="top" height="20" style="font-size:11px;color:#666666;font-family:Verdana;color:#000000;"><strong>Getting Started</strong></td>
										</tr>
										<tr>
											<td height="35" bgcolor="#ffffff" style="font-size:11px;color:#666666;font-family:Verdana;">&nbsp;<a href="%%track {http://us.my.alibaba.com/product/ma_post_product.htm}%%" target="_blank">Display</a> products</td>
										</tr>
										<tr>
											<td align="center" ><img src="http://img.alibaba.com/images/eng/others/email/w_icon11.gif" width="22" height="22" /></td>
										</tr>
										<tr>
											<td height="35" bgcolor="#ffffff" style="font-size:11px;color:#666666;font-family:Verdana;">&nbsp;<a href="%%track {http://importer.alibaba.com}%%" target="_blank">Contact</a> Buyers</td>
										</tr>
										<tr>
											<td align="center"><img src="http://img.alibaba.com/images/eng/others/email/w_icon11.gif" width="22" height="22" /></td>
										</tr>
										<tr>
											<td height="35" bgcolor="#ffffff" style="font-size:11px;color:#666666;font-family:Verdana;">&nbsp;<a href="%%track {http://us.my.alibaba.com/product/selloffer/myalibaba/post_selling_lead.htm}%%" target="_blank">Post</a> Selling leads</td>
										</tr>
										<tr>
											<td align="center"><img src="http://img.alibaba.com/images/eng/others/email/w_icon11.gif" width="22" height="22" /></td>
										</tr>
										<tr>
											<td height="35" bgcolor="#ffffff" style="font-size:11px;color:#666666;font-family:Verdana;">&nbsp;<a href="%%track {http://www.alibaba.com/trade/servlet/page/static/trade_manager/trademanager_forsuppliers}%%" target="_blank">Get</a> TradeManager</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td bgcolor="#f2f2f2" width="163" height="8"><img src="http://img.alibaba.com/images/eng/others/email/w_e06.gif" width="163" height="8" /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffeac2" width="600" height="11"><img src="http://img.alibaba.com/images/eng/others/email/bottom_corner.gif" width="600" height="11"></td>
	</tr>
</table>

<table width="600" cellspacing="0" border="0" cellpadding="0" align="center" style="margin-top:12px;">
	<tr>
		<td align="center">
			<div style="padding:3px; font-size:10px;font-family:Verdana;color:#7a7a7a">SITE ACCESS: <a href="%%track {http://us.my.alibaba.com}%%" target="_blank" style="text-decoration:none;">My Alibaba</a> | <a href="%%track {http://www.alibaba.com/catalogs/0/product.html}%%" target="_blank" style="text-decoration:none;">For Buyers</a> | <a href="%%track {http://importer.alibaba.com/}%%" target="_blank" style="text-decoration:none;">For Sellers</a> | <a href="%%track {http://us.my.alibaba.com/alert/nmsubscribe.biz}%%" target="_blank" style="text-decoration:none;">Trade Alert</a> | <a href="%%track {http://trademanager.alibaba.com/}%%" target="_blank" style="text-decoration:none;">TradeManager</a> <br>
				<a href="%%track {http://country.alibaba.com/profiles/index.htm}%%" target="_blank" style="text-decoration:none;">Country Profiles</a> | <a href="%%track {http://resources.alibaba.com/forum/trade_related.htm}%%" target="_blank" style="text-decoration:none;">Trade Forums</a> | <a href="%%track {http://www.alibaba.com/trade/help/helpcenter}%%" target="_blank" style="text-decoration:none;">Help</a> | <a href="%%track {http://resources.alibaba.com/trade_essential/101/safe_trading_tips.htm}%%" target="_blank" style="text-decoration:none;">Safe Trading Tips</a> | <a href="%%track {http://www.alibaba.com/trade/servlet/page/static/help/contact_us_answer}%%" target="_blank" style="text-decoration:none;">Customer Service</a><br>
				<hr style="color:#d3d4d5" size="1">
				Forgot your password? <a href="%%track {http://my.alibaba.com/apps/retrieve?req_page=retrieve.step1}%%" target="_blank"><span style="text-decoration:none;">Retrieve it now</span></a>.<br>
				<br>
				This email was sent to <strong>%%merge MEMBERS_.EMAILADDR_%%</strong> with Member ID <strong>%%merge MEMBERS_.LOGIN_ID%%</strong>.<br>
				You are receiving this email because you are a registered member of Alibaba.com.<br>
				To unsubscribe from future site announcement emails, <a href="http://www.alibaba.com/lyris/displaySubscribe.vhtml?memberId=%%merge MEMBERS_.MEMBERID_%%" target="_blank"><span style="text-decoration:none;">click here.</span></a><br>
				<hr style="color:#d3d4d5" size="1">
				Read our <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/privacy_policy}%%" target="_blank"><span style="text-decoration:none;">Privacy Policy</span></a> and <a href="%%track {http://www.alibaba.com/trade/servlet/page/help/rules_and_policies/term_of_use}%%" target="_blank"><span style="text-decoration:none;">Terms of Use</span></a>.<br>
				Alibaba.com Hong Kong Limited,<br>
				2403-05 Jubilee Centre, 18 Fenwick Street, Wanchai, Hong Kong<br>
				<br>
			</div>
		</td>
	</tr>
</table>
%%detect_both%%
</body>
</html>
